// Place all the styles related to the bugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.filter-button {
    position: absolute;
}

.filter-button:hover,
.add-bugger-icon:hover {
    filter: brightness(50%);
}

.bugs-table-container > .page-refetch-button-container,
.bugs-table-container > .loading-container,
.bugs-table-container > .page-filler-container,
.scrollable-table {
    height: calc(100% - 120px);
}

.bugs-table-container {
    height: 100%;
    overflow: auto;
    padding: 0 5px;
}

.bugs-table-container .option-header {
    width: 100%;
    max-width: 550px;
    padding-bottom: 5px;
    // this is for filter-button's and filter-containers absolute positioning
    position: relative;

    .filter-button {
        bottom: 5px;
        right: 10px;
    }

    .buggers-container {
        padding: 0;
    }

    .bugger-search-container {
        top: 35px;
    }

    .buggers-list {
        padding: 0;
        
        .add-bugger-icon {
            height: 20px;
            width: 20px;
        }

        > .buggers-list-item {
            .exit-icon-button {
                font-size: 25px;
            }

            .user-avatar-small-container {
                height: 25px;
                width: 25px;
            }
        }
    }

    .form-submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 30px;
        
        div {
            margin-right: 5px;
        }
    }
}

.buggers-list-item .user-avatar-small-container:active,
.buggers-list-item .user-avatar-small-container:hover,
.bug-comments-list-item .user-avatar-small-container:active,
.bug-comments-list-item .user-avatar-small-container:hover{
    box-shadow: initial;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9997;
    height: 500px;
    width: 85%;
    top: 5px;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            margin-left: 15px;
            input {
                margin-right: 5px;
            }
        }
    }
}

.search-bugs-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;

    .input-field {
        height: 30px;
    }

    .exit-icon-button {
        z-index: 1;
        font-size: 20px;
        top: 49px;
        right: 5px;
    }
}

.scrollable-table {
    overflow: auto;
}

.bugs-table { 
    display: block; 

    thead, tbody, th, td, tr {
        display: block;
    }
}

.bugs-table-head tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.bugs-table-body tr:not(:first-child) {
    margin-top: 15px;
}

.bugs-table-body td {
    /* Behave  like a "row" */
    position: relative;
    overflow: hidden;
    padding-left: 50%; 
    font-size: 15px;
}

.bugs-table-body td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    left: 6px;
    width: 45%; 
    padding-right: 10px;
    font-weight: bolder;
}

.bugs-table-body .bugs-table-row {
    cursor: pointer;
    padding: 5px;

    td div {
        overflow: auto;
        max-height: 100px;
    }
}

.bugs-table-body .bugs-table-row:hover {
    transition: 0.4s;
    filter: brightness(70%);
}

.bugs-table-body .bugs-table-row:nth-child(even) {
    border-radius: 5px;
}

.bugs-table-body td:nth-of-type(1):before { content: "ID"; }
.bugs-table-body td:nth-of-type(2):before { content: "Title"; }
.bugs-table-body td:nth-of-type(3):before { content: "Status"; }
.bugs-table-body td:nth-of-type(4):before { content: "Priority"; }
.bugs-table-body td:nth-of-type(5):before { content: "Severity"; }
.bugs-table-body td:nth-of-type(6):before { content: "Opened"; }
.bugs-table-body td:nth-of-type(7):before { content: "Closed"; }

.bug-form {
    height: 100%;
    width: 100%;

    .exit-icon-button {
        z-index: 1;
        top: 5px;
        right: 10px;
    }

    label {
        position: relative;
    }

    label > button:hover {
        .text-hover {
            display: initial;
            position: absolute;
            left: 0;
            top: 25px;
            padding: 10px;
            font-weight: lighter;
            text-align: center;
        }

        .information-button {
            filter: brightness(50%);
        }
    }

    .foreground-form {
        width: initial;
        max-width: initial;
        padding: 0;
    }

    fieldset {
        position: relative;
        display: flex;
        height: 100%;
        padding: 5px;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        > div:nth-last-child(-n+2){
            width: 100%;
        }
    }

    #dead-line {
        padding: 14px;
        font-size: 14px;
    }

    .radio-container {
        width: 100%;

        > div > label {
            // without the following, we cant apply the height or width
            display: inline-block;
            // which is explained here: https://stackoverflow.com/questions/21374289/css-not-getting-applied-to-label
        }

        .radio-options {
            display: flex;
            justify-content: space-around;
        }

        .radio-option > label {
            margin-left: 5px;
        }
    }

    .form-submit-button {
        max-width: 279px;
    }

    .buggers-container {
        padding: 0px;
    }
}

.buggers-container {
    position: relative;
    padding: 0 0 10px 0;
    width: 100%;

    > .buggers-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        overflow: auto;
        padding: 5px;
        gap: 10px;

        > .buggers-list-item {
            position: relative;
            border-radius: 50%;

            button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 50%;
            }

            .exit-icon-button {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 30px;
                opacity: 0.5;
                width: 100%;
            }
            
            .exit-icon-button:hover {
                filter: brightness(10%);
                opacity: 1;
            }

            .user-avatar-small-container {
                height: 40px;
                width: 40px;
            }
        }
    }
}

.add-bugger-icon {
    font-size: 40px;
}

.bugger-search-container {
    position: absolute;
    z-index: 9999;
    bottom: 60px;
    height: 200px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;

    .loading-container,
    > button {
        height: calc(100% - 40px);
        width: 100%;
    }

    > .page-filler-container {
        height: calc(100% - 68px);

        p {
            font-size: 25px;
        }
        
        span {
            font-size: 2em;
        }
    }

    > button .page-filler-container p {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        text-align: center;

        span {
            font-size: 30px;
        }
    }

    .buggers-list {
        display: flex;
        flex-direction: column;
        height: calc(100% - 60px);
        overflow: auto;
    }

    .buggers-list-item {
        position: relative;
        margin-bottom: 10px;
        border-radius: 5px;

        button {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 5px;
        }

        .user-avatar-small-container {
            height: 30px;
            width: 30px;
        }
    }

    .buggers-list-item .bugger-username {
        overflow: hidden;
        width: 60%;
        font-size: 15px;
        text-overflow: ellipsis;
    }
}

.bugger-search-header .input-field {
    height: 30px;
    text-align: center;
}

.bug-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.bug-container > .page-refetch-button-container {
    height: 100%;
}

.bug-properties {
    overflow: auto;
    
    div:not(.user-avatar-small-container, .bug-parents-comments-container) {
        padding: 2px;
    }

    h1 {
        font-size: 17px;
        font-weight: bolder;
    }

    span {
        padding-top: 5px;
    }
}

.bug-properties-header {
    display: flex;
    flex-direction: column;

    > div {
        display: flex;
        flex-direction: column;
        word-break: break-word;
    }
}

.bug-properties-header-first-half div,
.bug-properties-header-second-half div {
    display: flex;
    flex-direction: column;
}

.bug-properties-header-first-half {
    div:not(:first-child) span {
        display: flex;
        justify-content: center;
    }

    div:first-child span {
        text-align: center;
    }
    
    > div:first-child,
    > div:last-child {
        width: 100%;
    }

    .buggers-list {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        height: 50px;
        gap: 10px;
    }

    .buggers-list-item {
        width: 46%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bug-properties-header-second-half div span {
    display: flex;
    justify-content: center;
}

.bug-properties-header-second-half > div:first-child {
    width: 100%;
}

.bug-properties-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div:not(:last-child) {
        word-break: break-word;
    }

    > div:last-child {
        width: 100%;
    }

    span {
        padding-left: 5px;
    }
}

.bug-comments-container {
    position: relative;
    
    form .modify-bug-buttons {
        width: 225px;
        
        .form-submit-button {
            max-width: 50px;
        }
    }
}

.bug-properties-main-content,
.bug-properties-header-first-half > div:first-child {
    button:not(.bug-photo-button, .expand-photo-container button, .bug-activities-container button, .bug-comments-container button) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    button:hover:not(.form-submit-button) {
        filter: brightness(70%);
    }

    .arrow {
        transform: rotate(90deg);
    }

    .rotate {
        transform: rotate(180deg);
    }

    // without this rule, long lines of text dont match up
    // with the first line
    span:not(.bug-photo-span) {
        float: left;
    }
}

.modify-bug-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;

    .form-submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        max-width: 200px;
        min-width: 100px;
        padding: 0;
        margin: 0px;
    }
}

.bug-photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bug-photo-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    width: 50px;

    .exit-icon {
        display: none;
    }
}

.bug-photo-button:hover .exit-icon {
    position: absolute;
    display: initial;
    margin: auto;
    font-size: 25px;
    filter: brightness(100%);
}

.bug-photo {
    max-height: 40px;
    width: 40px;
}

.expand-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

    .exit-icon-button {
        top: 2px;
        right: 2px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bug-photo {
        border: none;
        max-height: 90vh;
        max-width: 90vw;
        width: 100%;
    }
}

.parent-comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .form-submit-button {
        width: 190px;
        margin: 0px;
    }
    
    span {
        padding: 0px;
    }

    form, form > div:not(:last-child) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    form > div:last-child {
        display: flex;
        min-width: 200px;
        justify-content: space-between;
    }

    
}

#text-area-comment {
    height: 100px;
    min-height: 100px;
    max-width: 500px;
    resize: vertical;
}


.bug-parents-comments-list {
    overflow: auto;
    height: 500px;
}

.bug-parents-comments-list,
.bug-children-comments-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.bug-children-comments-list {
    margin-left: 15px;

    .bug-comments-list-item {
        margin-left: 10px;
    }

    .response-preview {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 0.5;
        padding: 5px 0;
        width: calc(100vw - 105px);
        font-size: 13px;

        span {
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
            text-overflow: ellipsis;
        }
    }
}

.bug-comments-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .extra-load-container,
    .extra-refetch-button-container {
        position: relative;
        margin-top: 15px;

        .loading-container,
        .page-filler-container p,
        .page-filler-container span {
            font-size: 17px;
        }
    }

    button:hover {
        filter: brightness(100%);
    }

    .comment-button-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .comment-button-options .comment-button-options button {
        margin: 0 5px;
    }

    .comment-hide-options {
        margin-right: 5px;
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;

        .user-avatar-small-container {
            height: 30px;
            width: 30px;
        }

        h1 {
            margin: 0 10px;
        }

        span {
            font-size: 14px;
            padding: initial;
        }

        button:nth-child(even) {
            margin: 0 10px;
        }
    }

    .user-avatar-small-container {
        cursor: initial;
    }

    // FIGURE OUT HOW NOT TO WORD BREAK RESPONSE PREVIEW BUT DO WORD BREAK PARENT AND  CHILD COMMENTS
    // CHILD RESPONSES SHOULD BE ONE LINE WHICH OVER FLOW IN ELLIPSIS
    // ALSO MAKES SURE WE GO TO BUGS CONTROLLER AND SORT COMMENT BY OLDEST TO NEWEST AFTER IM DONE WITH EVERYTHING(ASC)

    > span {
        padding: 3px 0;
        width: 100%;
        margin-left: 20px;
    }

    .parent-comment {
        padding-top: 5px;
        width: calc(100vw - 55px);
    }

    .child-comment {
        width: calc(100vw - 85px);
    }
    
    .parent-comment, .child-comment {
        word-break: break-word;
        overflow: initial;
        max-height: initial;
    }

    > button {
        margin-top: 5px;
        margin-left: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }
    
}

#reset-margin-left {
    margin-left: 0px;
    min-width: 225px;
    max-width: 312px;
}

.bug-comments-list-item .comment-button-options form > div:first-child,
#reset-margin-left > form > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 299px) {
    .filter-container {
        height: 300px;
    }
}

@media all and (min-width: 400px) {
    .bug-container {
        display: flex;
        align-items: center;
    }

    .bug-properties {
        display: flex;
        flex-wrap: wrap;
        height: calc(100% - 5px);

        .bug-activities-container,
        span {
            display: initial;
        }
    }

    .bug-properties-header {
        flex-direction: initial;
        width: 100%;

        span {
            padding-left: 5px;
        }
    }

    .bug-properties-header-first-half {
        width: 50%;
        
        div:first-child span {
            text-align: initial;
        }

        div:not(:first-child) span {
            justify-content: initial;
        }

        .buggers-list-item {
            width: 45%;
        }
    }

    .bug-properties-header-second-half div span {
        justify-content: initial;
    }

    .bug-properties-header-first-half,
    .bug-properties-header-second-half {
        width: 50%;
    }

    .bug-properties-main-content,
    .bug-properties-header-first-half > div:first-child {
        button:not(.bug-photo-button, .expand-photo-container button, .bug-activities-container button, .bug-comments-container button) {
            cursor: initial;
            pointer-events: none;
        }

        .arrow {
            display: none;
        }

        span {
            float: initial;
            overflow: auto;
            max-height: 200px;
        }
    }

    .bug-properties-header-first-half > div:first-child span {
        max-height: 60px;
    }

    .bug-properties-main-content {
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-between;

        .bug-photos-container {
            flex-direction: row;
        }

        > div:not(.bug-activities, .bug-comments) {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
    }
}

@media all and (min-width: 422px) {
    .filter-container {
        width: 90%;
        height: 200px;
    }
}

@media all and (min-width: 526px) {
    .bugs-table-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bugs-table-container .option-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .bugger-search-header {
            display: flex;
            justify-content: center;
        }

        .bugger-search-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 99999;
        }

        .buggers-list {
            width: 100%;
        }

        .form-submit-button {
            margin-top: 0;
        }

        .buggers-container {
            max-width: 206px;
        }
    }

    .filter-button,
    .filter-container {
        display: none;
    }

    .bugs-table-container > .page-refetch-button-container,
    .bugs-table-container > .loading-container,
    .bugs-table-container > .page-filler-container,
    .scrollable-table {
        height: calc(100% - 45px);
    }

    .search-bugs-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 363px;
        text-align: center;

        select {
            width: 147px;
        }

        .status-select {
            width: calc(100% - 152px);
        }

        input {
            padding: 5px;
            margin: 5px;
        }

        .exit-icon-button {
            font-size: 20px;
            top: 9px;
            right: 10px;
        }
    }

    .bugs-table { 
        display: revert;
        table-layout: fixed;
        border-collapse: collapse; 
        width: 100%;

        thead, tbody, th, td, tr {
            display: revert;
        }
    }

    .bugs-table-body td, 
    .bugs-table-head th {
        text-align: left; 
    }

    .bugs-table-body td {
        padding: 6px; 
    }

    .bugs-table-head th {
        position: relative;
        font-size: 15px;
        padding: 5px;
    }

    .bugs-table-head th:not(:nth-of-type(1)):not(:nth-of-type(3)) {
        cursor: pointer;
    }

    .bugs-table-head th:not(:nth-of-type(1)):not(:nth-of-type(3)):hover {
        transition: 0.4s;
        filter: brightness(85%);
    }

    .table-sort-arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 3px;
        bottom: 0;
        font-size: 12px;
    }

    .shrink-default-arrow {
        font-size: 8px;
    }

    .bugs-table-head tr { 
        position: revert;
    }

    .bugs-table-body td:nth-of-type(1):before { content: none; }
    .bugs-table-body td:nth-of-type(2):before { content: none; }
    .bugs-table-body td:nth-of-type(3):before { content: none; }
    .bugs-table-body td:nth-of-type(4):before { content: none; }
    .bugs-table-body td:nth-of-type(5):before { content: none; }
    .bugs-table-body td:nth-of-type(6):before { content: none; }
    .bugs-table-body td:nth-of-type(7):before { content: none; }

    .bug-properties-header-first-half,
    .bug-properties-header-second-half {
        display: flex;
        flex-wrap: wrap;

        div {
            width: 50%;
        }
    }

    .bug-form fieldset {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: initial;

        > div {
            padding: 5px;
            width: 50%;
        }
    }
}

@media all and (min-width: 700px) {
    .bug-activities {
        width: 70%;
    }
}

@media all and (min-width: 900px) {
    .bug-properties-main-content > div:not(:last-child, .bug-activities, .bug-comments) {
        width: 30%;
    }
}

@media all and (min-width: 1000px) {
    .bug-form {
        .foreground-form {
            height: 100%;
        }

        fieldset {
            align-items: flex-start;
            height: 100%;

            > div {
                padding: 0;
                width: 30%;
            }
        }
    }
}