.notification-container > .page-refetch-button-container,
.notification-container > .loading-container,
.notification-container > .page-filler-container {
    height: calc(100%);
}

.notification-container {
    height: calc(100% - 76px);
}

.notification-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 15px;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    height: 100%;

    > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-radius: 5px;

        .modify-bug-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 230px;
            margin-top: 5px;

            button {
                max-width: 90px;
            }
        }
    }
}